.searchDropdown {
  position: absolute;
  top: 30px;
  right: 0;
  width: 100%;
  max-height: 500px;
  padding: 5px;
  background-color: $color-secondary;
  border: 1px solid $color-primary;
  border-radius: 10px;
  overflow-y: scroll;
  z-index: 1000;

  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;
    text-align: center;
  }

  &::-webkit-scrollbar-thumb {
    width: 4px;
    background: $color-primary;
  }
}

.title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.list {
  @include reset-list;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  a {
    display: flex;
    overflow: hidden;
    text-decoration: none;
  }

  .picture {
    @include default-transition;
    width: 60px;
    height: 90px;
    margin-right: 10px;
    border-radius: 5px;
    background: no-repeat center $color-primary url('/assets/icons/empty-poster.svg');
    background-size: 70%;

    .image {
      @include default-transition;
      width: 60px;
      height: 90px;
      border-radius: 5px;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    p {
      margin: 0;
    }

    .movieTitle {
      @include default-transition;
      color: $color-white;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .icon {
      display: inline-block;
      width: 20px;
      height: 20px;
    }

    .date {
      font-size: 14px;
      color: $color-primary;
    }

    .rating {
      margin-top: auto;
      font-size: 14px;
      font-weight: 600;
      color: $color-white;

      svg {
        fill: $color-gold;
      }
    }
  }

  &:hover {
    .movieTitle {
      color: $color-red;
    }
  }
}
