$color-primary: #66676f;
$color-secondary: #181b1e;
$color-black: #000000;
$color-white: #ffffff;
$color-blue: #2c39f2;
$color-light-blue: #00afdb;
$color-orange: #ff8c00;
$color-light-black: rgb(25, 24, 23);
$color-gray: #808080;
$color-light-gray: #f1f1f2;
$color-dark-gray: #97989b;
$color-plum: rgba(229, 208, 237, 0.4);

$viewport--sm: 320px;
$viewport--md: 768px;
$viewport--lg: 1024px;
