.movie {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: blue;
  background-color: green;
}

.head {
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 20px;
  min-height: 370px;
  border-radius: 10px;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.title {
  font-size: 30px;
  color: $color-white;
}

.production {
  color: $color-white;
}

.genre {
  color: $color-primary;

  span {
    color: $color-white;
  }
}
