.person {
  width: 100%;
  height: 100%;
  padding: 50px;
  background-color: $color-secondary;
}

.head {
  display: flex;

  &Wrapper {
    display: flex;
    flex-direction: column;
  }

  &Image {
    display: flex;
    align-items: flex-end;
    margin-right: 50px;
    padding: 20px;
    width: 247px;
    min-height: 370px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.social {
  a:not(:last-child) {
    margin-right: 5px;
  }
}

.title {
  font-size: 30px;
  color: $color-white;
}

.description {
  padding: 10px;
  margin-top: 20px;
  color: $color-white;
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;
  text-align: center;
}
